In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
vine_df = pd.read_csv('vine_table.csv', error_bad_lines=False)
vine_df.head()
#Added error_bad_lines to skip errored line in data

C:\Users\Surface\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 871465: expected 6 fields, saw 7\n'

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R2BFF23JS58KL2,4.0,0.0,0.0,N,Y
1,R23SXTZYFP4UVT,4.0,0.0,0.0,N,Y
2,R2G23Z8YHQBOIL,5.0,0.0,0.0,N,Y
3,R3S0BPHFJ7T10Q,5.0,0.0,0.0,N,Y
4,R12CM12LS7RWHJ,5.0,0.0,0.0,N,Y

In [6]:
vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5906332 entries, 0 to 5906331
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   review_id          object
 1   star_rating        float64
 2   helpful_votes      float64
 3   total_votes        float64
 4   vine               object
 5   verified_purchase  object
dtypes: float64(3), object(3)
memory usage: 270.4+ MB

In [7]:
#Step 1
#Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20 to pick reviews that are more likely to be helpful and to avoid having division by zero errors later on.
filtered_vine_df = vine_df[vine_df['total_votes'] >= 20]
filtered_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
39,R1LECDA9M48H6J,3.0,54.0,67.0,N,Y
62,R3NW1XPUOINIG9,5.0,109.0,114.0,N,N
389,R32GFTLW79QTFA,3.0,100.0,102.0,N,Y
464,R3MKH35F51GIK3,5.0,28.0,30.0,N,Y
514,R2ENNBH66GBNF8,4.0,63.0,64.0,N,Y

In [8]:
#Step 2
#Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
new_vine_df = filtered_vine_df.loc[filtered_vine_df.helpful_votes / filtered_vine_df.total_votes >= 0.5]
new_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
39,R1LECDA9M48H6J,3.0,54.0,67.0,N,Y
62,R3NW1XPUOINIG9,5.0,109.0,114.0,N,N
389,R32GFTLW79QTFA,3.0,100.0,102.0,N,Y
464,R3MKH35F51GIK3,5.0,28.0,30.0,N,Y
514,R2ENNBH66GBNF8,4.0,63.0,64.0,N,Y

In [9]:
#Step 3
#Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.
vine_reviews = new_vine_df[new_vine_df['vine'] == 'Y']
vine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1282766,R6U9701C3BGO6,3.0,139.0,147.0,Y,N
1282908,R1XK3ALB45D7N4,5.0,33.0,34.0,Y,N
1282918,R1IZCSTLX81D6C,5.0,31.0,33.0,Y,N
1282939,R2C8NC8EQLH4JF,3.0,45.0,48.0,Y,N
1283173,R1JJ1YOJMOML1P,5.0,18.0,21.0,Y,N

In [10]:
#Step 4
#Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'.
not_vine_reviews = new_vine_df[new_vine_df['vine'] == 'N']
not_vine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
39,R1LECDA9M48H6J,3.0,54.0,67.0,N,Y
62,R3NW1XPUOINIG9,5.0,109.0,114.0,N,N
389,R32GFTLW79QTFA,3.0,100.0,102.0,N,Y
464,R3MKH35F51GIK3,5.0,28.0,30.0,N,Y
514,R2ENNBH66GBNF8,4.0,63.0,64.0,N,Y

In [11]:
#Step 5
#Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid).

In [12]:
#Vine reviews
count_vine = len(vine_reviews)
count_vine

33

In [13]:
#None-vine reviws
count_nonvine = len(not_vine_reviews)
count_nonvine

45388

In [14]:
#5 star reviews
#Vine
max_rating_vine = len(vine_reviews[vine_reviews['star_rating']==5])
max_rating_vine

15

In [15]:
#None-vine
max_rating_nonvine = len(not_vine_reviews[not_vine_reviews['star_rating']==5])
max_rating_nonvine

23733

In [16]:
#Percent Reviews

#Vine reviews
max_rating_vine/count_vine*100

45.45454545454545

In [17]:
#NonVine Reviews
max_rating_nonvine/count_nonvine*100

52.28915131752886

In [18]:
#Additional Analysis
#Vine reviews average
round(vine_reviews['star_rating'].mean(),2)

4.09

In [19]:
#Non-vine reviews average
round(not_vine_reviews['star_rating'].mean(),2)

3.87